@font-face {
  font-family: 'fontello';
  src: url('../font/fontello.eot?73038904');
  src: url('../font/fontello.eot?73038904#iefix') format('embedded-opentype'),
       url('../font/fontello.woff2?73038904') format('woff2'),
       url('../font/fontello.woff?73038904') format('woff'),
       url('../font/fontello.ttf?73038904') format('truetype'),
       url('../font/fontello.svg?73038904#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
[class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: never;

  display: inline-block;
  text-decoration: inherit;
  width: 1.15em;
  height: 1.3em;
  margin-right: .2em;
  text-align: center;
  /*vertical-align: center;*/

  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;

  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;

  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;

  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */

  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('../font/fontello.svg?73038904#fontello') format('svg');
  }
}
*/

.icon-book:before { content: '\e800'; } /* '' */
.icon-right-open:before { content: '\e801'; } /* '' */
.icon-left-open:before { content: '\e802'; } /* '' */
.icon-down-open:before { content: '\e803'; } /* '' */
.icon-up-open:before { content: '\e804'; } /* '' */
.icon-up-big:before { content: '\e805'; } /* '' */
.icon-right-big:before { content: '\e806'; } /* '' */
.icon-left-big:before { content: '\e807'; } /* '' */
.icon-down-big:before { content: '\e808'; } /* '' */
.icon-right-hand:before { content: '\e809'; } /* '' */
.icon-left-hand:before { content: '\e80a'; } /* '' */
.icon-up-hand:before { content: '\e80b'; } /* '' */
.icon-down-hand:before { content: '\e80c'; } /* '' */
.icon-ok:before { content: '\e80d'; } /* '' */
.icon-ok-outline:before { content: '\e80e'; } /* '' */
.icon-ok-1:before { content: '\e80f'; } /* '' */
.icon-cancel-circled:before { content: '\e810'; } /* '' */
.icon-cancel:before { content: '\e811'; } /* '' */
.icon-cancel-alt:before { content: '\e812'; } /* '' */
.icon-cancel-alt-filled:before { content: '\e813'; } /* '' */
.icon-cancel-circled-outline:before { content: '\e814'; } /* '' */
.icon-cancel-circled-1:before { content: '\e815'; } /* '' */
