/*
:root {
    --color1: #05b1b1;
    --color2: #52339a;
    --border-w: 4px;
    --bg1: #dedede;
    --bg2: #cecece;
}

header, footer, section {
    padding: 100px 0;
}

header {
    padding: 100px 0;
}

header, footer {
    background-blend-mode: multiply;
    background: url(../images/bg.jpg), var(--color1);
    background: url(../images/bg.jpg), -moz-linear-gradient(90deg, var(--color1) 0%, var(--color2) 100%);
    background: url(../images/bg.jpg), -webkit-linear-gradient(90deg, var(--color1) 0%, var(--color2) 100%);
    background: url(../images/bg.jpg), linear-gradient(90deg, var(--color1) 0%, var(--color2) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=var(--color1), endColorstr=var(--color2), GradientType=1);
}

.itd_play {
    background-color: var(--color1);
    width: 60px;
    height: 60px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: all 0.2s ease;
    margin: auto auto;
}

.itd_play:hover {
    background-color: var(--color2);
}

.itd_triangle {
    margin-left: 12%;
    display: inline-block;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 15px 0 15px 30px;
    border-color: transparent transparent transparent var(--bs-white);
    line-height: 0;
    _border-color: #000000 #000000 #000000 #ffffff;
    _filter: progid:DXImageTransform.Microsoft.Chroma(color='#000000');
}

.itd_triangle:hover {
}

.btn-itd {
    display: block;
    max-width: 200px;
    min-width: 100px;
    margin: 20px auto;
    padding: 8px 30px;
    color: var(--bs-white);
    background-color: var(--color2);
}

.btn-itd:hover {
    background-color: var(--color1);
}

.embed-container {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
    max-width: 100%;
}

.embed-container iframe, .embed-container object, .embed-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.color1 {
    color: var(--color1);
}

.color2 {
    color: var(--color2);
}

.bg1 {
    background-color: var(--color1);
}

.bg2 {
    background-color: var(--color2);
}

.itd_circle i:hover {
    color: var(--color1);
}

.itd_circle {
    border-radius: 50%;
    border: var(--border-w) solid var(--color2);
    margin: 0 auto 15px;
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;

}

.about h5 {
    cursor: pointer;
}

.about i {
    font-size: 50px;
    color: var(--color2);
    border-radius: 50%;
    !*background-color: #666;*!
}

.line {
    width: 100px;
    height: var(--border-w);
    border-top: var(--border-w) solid var(--color1);
    margin: 0 auto 30px;
    cursor: pointer;
}

.about {
    background-color: var(--bg1);
}

.cont {
    display: flex;
    background-color: #e0bc0a;
    height: 300px;
    width: 300px;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    align-items: center;
    resize: both;
    overflow: auto;
}

.child {
    border: 1px solid red;
    border-radius: 10px;
    background-color: #953838;
    width: 100px;
    !*height: 30px;*!
    line-height: 30px;
    text-align: center;
    min-width: 20px;
    !*max-width: 120px;*!
    order: 2;
    margin: 5px;

}*/
