$color1: var(--color1);
$color2: var(--color2);
$bg1: var(--bg1);
$bg2: var(--bg2);
$border-w: var(--border-w);

.forwhom {
  background-color: $bg2;

  h5 {
    border: $border-w solid $color1;
    padding: 30px 50px;
    cursor: pointer;
    font-size: 2em;

    &:hover {
      border-color: $color2;
    }
  }
}

.shedule {
  background-color: $bg1;
}

.accordion {
  &-button {
    font-weight: bold;

    &.collapsed {
      background-color: $color1;
      color: var(--bs-black);
    }

    &:hover {
      background-color: $color2;
    }

    &:focus {
      box-shadow: none;
    }

    &:not(.collapsed) {
      color: var(--bs-white);
      background-color: $color2;

      &:after {
        background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='white'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
      }
    }
  }

  &-body {
    font-size: 1.2em;
    text-align: justify;
  }
}

.learning {
  h5 {
    border: $border-w solid $color2;
    padding: 20px 50px;
  }
}

.author {
  padding-bottom: 0;

  .itd_image {
    max-width: 260px;
    
  }
}

